@model ProjectAgileWeb7.Models.Room

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="float-lg-right">
    <a asp-action="Index" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back to List</a>
</div>

<h3 class="text-warning"><i class="fas fa-edit"></i>&nbsp; Room Id: @Model.RoomId</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType" asp-items="Html.GetEnumSelectList<RoomType>()" class="form-control"></select>
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomPrice" class="control-label"></label>
                <input asp-for="RoomPrice" class="form-control" />
                <span asp-validation-for="RoomPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomDescription" class="control-label"></label>
                <textarea asp-for="RoomDescription" class="form-control"></textarea>
                <span asp-validation-for="RoomDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfBeds" class="control-label"></label>
                <input asp-for="NumberOfBeds" class="form-control" />
                <span asp-validation-for="NumberOfBeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Room image</label>
                <select asp-for="RoomImageUrl" class="form-control">
                    <option>~/pictures/single.jpg</option>
                    <option>~/pictures/double.jpg</option>
                    <option>~/pictures/triple.jpg</option>
                    <option>~/pictures/twin.jpg</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Hotel" class="control-label"></label>
                <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
