@model ProjectAgileWeb7.Models.HotelFacility

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="float-lg-right">
    <a asp-action="Index" class="btn btn-outline-primary btn-sm"><i class="fas fa-arrow-alt-circle-left"></i>&nbsp; Back to List</a>
</div>

<h3 class="text-success"><i class="fas fa-plus-circle"></i>&nbsp; Add Facility to Hotel</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hotel" class="control-label"></label>
                <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Facility" class="control-label"></label>
                <select asp-for="FacilityId" class="form-control" asp-items="ViewBag.FacilityId"></select>
            </div>
            @if (ViewBag.Duplicate)
            {
                <div class="text-danger mb-3">Facility already added to the hotel</div>
            }
            <input type="submit" value="Add Hotel Facility to Database" class="btn btn-success" />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
