.hotel-image {
    width: 350px;
    height: 250px;
}

.filter-form {
    width: 25%;
}

.side-bar-container {
    margin-top: 24px;
    display: block;
    width: 25%
}

.carousel-container {
    width: 75%;
}

.weather-card, .map-card {
    flex-direction: column;
    width: 100%;
}

.booking-card {
    width: 50%;
}

@media only screen and (max-width: 990px) {
    .card-body, .big-container, .container-hotel {
        flex-direction: column;
    }

    .filter-form {
        margin-right: 0;
        width: 100%;
    }

    .booking-card {
        width: 100%;
    }

    .booking-container {
        flex-direction: column;
    }

    .weather-card, .map-card {
        width: 50%;
    }

    .carousel-container {
        width: 100%;
        order: 2;
    }

    .side-bar-container {
        display: flex;
        order: 1;
        width: 100%;
        flex-direction: row;
    }

    .filter-button {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .hotel-image {
        width: 295px;
        height: 205px;
        margin-bottom: 5px;
    }

    .hotel-name, .display-4 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 356px) {
    .hotel-image {
        width: 255px;
        height: 175px;
    }

    .mobile-room {
        display: none;
    }
}

@media only screen and (max-width: 488px) {
    .side-bar-container {
        flex-direction: column;
        width: 100%;
    }

    .weather-card, .map-card {
        width: 100%;
    }
}
