@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Any data collected from the following sources will be saved in a database connected to this school project:<br />
    <ul>
        <li>
            External login sources, such as Google and/or Facebook
        </li>
        <li>
            Registered account details such as emails or user supplied data (e.g. mobile, name)
        </li>
    </ul>
    <br />
    (No data will be sold or unintentionally* granted with third party entities)
    <br />
    <br />
    <br />
    * Due to a lack of knowledge concerning technical details, <br />
    we will not be held responsible in cases of data unintentionally being accessed by third parties.<br /><br />
    We will, however, do our best to protect our users and the details they supply us with.
</p>
